<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
  https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <proxies>
    
    <proxy>
      <id>1.3.2.9.0</id>
      <active>true</active>
      <protocol>http</protocol>
      <host>1.3.2.9</host>
      <port>1234</port>
      <username>myusername</username>
      <password>passwd123$</password>
    </proxy>
  
    <proxy>
      <id>1.3.2.9.1</id>
      <active>true</active>
      <protocol>https</protocol>
      <host>1.3.2.9</host>
      <port>1234</port>
      <username>myusername</username>
      <password>passwd123$</password>
    </proxy>
  
  </proxies>
</settings>
